{% extends "pdfgo/homepage.html" %}
{% load static %}
{% block content %}
{% autoescape off %}

<head>
    <title>Account Activation Failed</title>
</head>

<div class="card text-center">
    <div class="card-body">
        <body>
            <div class="icon failed">
                <i class="bi bi-person-fill-x" style="font-size: 70px; color: red;"></i>
            </div>
            <h1>Account Activation Failed</h1>
            <p>Sorry, the activation link is invalid or has expired. Please try again or contact support for assistance.</p>
            <p><a href="{% url 'home' %}">Back to Home</a></p>
        </body>
    </div>
</div>

{% endautoescape %}
{% endblock %}