{% extends "pdfgo/homepage.html" %}
{% load static %}
{% block content %}

<head>
    <title>Forgot Password</title>
</head>

<div class="card text-center">
    <div class="card-body">
        <body>
            <div class="icon failed">
                <i class="bi bi-shield-fill-exclamation" style="font-size: 70px; color: red;"></i>
            </div>
            <h1>Forgot Password</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Reset Password</button>
              </form>
            <p><a href="{% url 'home' %}">Back to Home</a></p>
        </body>
    </div>
</div>

{% endblock %}