{% extends "pdfgo/homepage.html" %}
{% load static %}
{% block content %}

<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Password Protect PDF</h5>
        <p class="card-text">Encrypt your PDF with a password so it can't be removed.</p>
        <h1>Password Protect PDF</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="encryptedpdf">Select PDF File:</label>
            <input type="file" class="card-body" name="encryptedpdf" id="encryptedpdf" accept=".pdf" required><br>
            <label for="pdf_password" class="card-body">Enter Password:</label>
            <input type="password" class="card-body" name="pdf_password" id="pdf_password" style="height: 5px;" required>
            <button type="submit" class="btn btn-primary">Encrypt PDF</button>
        </form>
        
        {% if pdf_url %}
            <p>Click the below button to download the Encrypted PDF file</p>
            <a href="{{ pdf_url }}" download="encrypted.pdf"><button class="btn btn-primary">Download Encrypted PDF</button></a>
        {% endif %}
    </div>
</div>

{% endblock content %}