{% extends "pdfgo/homepage.html" %}
{% load static %}
{% block content %}

<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">PDF to Word Converter</h5>
        <p class="card-text">The best online PDF to Word Converter</p>
        <h1>PDF to Word Conversion</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="pdftowordFiles">Select a PDF file:</label>
            <input type="file" class="card-body" id="pdftowordFiles" name="pdftowordFiles" accept=".pdf" required>
            <button type="submit" class="btn btn-primary">Convert to Word</button>
        </form>

        {% if error_message %}
            <p class="text-danger">{{ error_message }}</p>
        {% endif %}

        {% if word_file_url %}
            <p>Click the below button to download the converted Word file</p>
            <a href="{{ word_file_url }}" download="{{ word_file_name }}"><button class="btn btn-primary">Download Word File</button></a>
        {% endif %}
    </div>
</div>

{% endblock content %}