{% extends "pdfgo/homepage.html" %}
{% load static %}
{% block content %}

<head>
    <title>Password Reset Email Sent</title>
</head>

<div class="card text-center">
    <div class="card-body">
        <body>
            <div class="icon failed">
                <i class="bi bi-unlock-fill" style="font-size: 70px; color: rgb(28, 155, 172);"></i>
            </div>
            <h1>Password Reset Email Sent</h1>
            <p>We've sent an email to your registered email address. Please follow the instructions in the email to reset your password.</p>
        </body>
    </div>
</div>

{% endblock %}