{% extends "pdfgo/homepage.html" %}
{% load static %}
{% block content %}

<head>
    <title>Confirm Password Reset</title>
</head>

<div class="card text-center">
    <div class="card-body">
        <body>
            <div class="icon failed">
                <i class="bi bi-unlock" style="font-size: 70px; color: rgb(28, 172, 129);"></i>
            </div>
            <h1>Confirm Password Reset</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Confirm Reset</button>
            </form>
        </body>
    </div>
</div>

{% endblock %}