{% extends "pdfgo/homepage.html" %}
{% load static %}
{% block content %}

<head>
    <title>Password Reset Complete</title>
</head>

<div class="card text-center">
    <div class="card-body">
        <body>
            <div class="icon failed">
                <i class="bi bi-shield-fill-check" style="font-size: 70px; color: green;"></i>
            </div>
            <h1>Password Reset Completed.</h1>
            <p>Your password has been successfully reset.</p>
            <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
        </body>
    </div>
</div>

{% endblock %}